/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.col-md-3 {
  background-color: #ddd;
  font-size: 1.3em;
  font-weight: 700;
}

.board-index-item {
  width: 22%;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  line-height: 100px;
  text-align: center;
  font-size: 1.5em;
}

li.list {
  width: 260px;
  border-radius: 5px;
  position: relative;
  margin: 10px 5px;
  // padding-bottom: 5px;
}
.new-board-button {
  font-size: 3em;
}

.board-index-item:hover {
  background-color: rgb(102, 153, 153);
  cursor: pointer;
}


.add-card:hover {
  color: rgb(102, 153, 153);
  cursor: pointer;
}

.cards-list > li {
  background: #eee;
  width: 100%;
  border-radius: 5px;
  height: 32px;
}

.cards-list {
  list-style: none;
  padding: 0;
}

li.add-card {
  font-size: .85em;
  color: rgb(150,150,150);
  background: #ddd;
}
